@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*background: linear-gradient(to right, #061161, #780206);*/

    /*background: linear-gradient(to right, #b31217, #e52d27);*/
    /*background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);*/
    /*background: linear-gradient(to right, #2C5364, #203A43, #0F2027);*/
    /*background: linear-gradient(to right, #4286f4, #373B44);*/
    /*background: linear-gradient(to right, #493240, #FF0099);*/

    /*background: linear-gradient(to right, #240b36, #c31432);*/

    /*background: linear-gradient(to right, #24243e, #302b63, #0f0c29);*/

    /*background: linear-gradient(to right, #6f0000, #200122);*/

    background: linear-gradient(to right, #2F0743, #41295a, #2F0743);
    color: #defaf9;
    font-family: 'Acme', sans-serif;
    font-size: 1.3em;
}

.weather-search {
    background-color: rgba(255, 255, 255, 0.15) !important;
    border: none !important;
    color: inherit !important;
    outline: none !important;
}

.weather-search::placeholder {
    color: #fff;
}

.weather-city {
    font-size: 2em;
    font-weight: 600;
}

.weather-day {
    font-size: 1.55em;
    font-weight: 400;
}

.weather-indicator::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-right: 10px;
    margin-bottom: 5px;
}

.weather-indicator-humidity::before {
    background-image: url(images/humidity.png);
}

.weather-indicator-wind::before {
    background-image: url(images/wind.png);
}

.weather-indicator-pressure::before {
    background-image: url(images/pressure.png);
}

.weather-image {
    width: 210px;
}

.weather-temperature {
    font-size: 1.70em;
    font-weight: bold;
}

.weather-forecast-icon {
    display: inline-block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.weather-forecast-item {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}